version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_projeto
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: m-express_projeto
    ports:
      - "8082:8081"
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://admin:admin@mongodb:27017/
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
    depends_on:
      - mongodb

  backend:
    image: node:18
    container_name: backend_projeto
    working_dir: /app
    volumes:
      - ./backend:/app
    # Adicionado dotenv aqui também para garantir que não dê erro caso você mantenha o require
    command: sh -c "npm install express mongodb cors ts-node typescript dotenv @types/express @types/node @types/cors @aws-sdk/client-s3 @aws-sdk/s3-request-presigner && npx ts-node server.ts"
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb

volumes:
  mongo-data: